.forecast-header{
    /* margin-bottom: 5px; */
    border: 1px solid black;
    padding: 0;
}

#forecast{
    border: 1px solid black;
    height: 40vh;
}
#today{
    height: 30vh;
}
.forecast-card{
    background-color: darkcyan !important;
}

.min-temp{
    font-size:small;
}
.city-button{
    width: 100%;
}
#search-history{
    position: relative;
}

.btn-clear
{
    position: absolute;
    top: -1.5rem;
    right: 0rem;
    display: block;
    font-size: .65em;
    color: #0d6efd;
    background-color: white;
    border: none;
}
