*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../../images/weather1.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    max-width: 1500px;
    
}
.weather-header{
    background: linear-gradient(65deg,darkcyan,  rgb(1, 65, 65))
}
.input-group{
    max-width: 320px;
}
#search-button{
    background-color: darkcyan;
    color: white;
}
.forecast-header{
    /* margin-bottom: 5px; */
    /* border: 1px solid black; */
    padding: 0;
}

#forecast{
    /* border: 1px solid black; */
    height: 40vh;
}
#today{
    height: 30vh;
    /* background-image: url("../../images/weather2.jpg"); */
    background-color: lightsteelblue;
}
.forecast-card{
    background-color: darkcyan !important;
    height: fit-content !important;
    width: 180px !important;
}

.min-temp{
    font-size:small;
}
.card-header{
    font-weight: bold;
}
.city-button{
    width: 100%;
}
#buttons{
    position: relative;
}

.btn-clear
{
    position: absolute;
    top: -1.5rem;
    right: 0rem;
    display: block;
    font-size: .65em;
    font-weight: bold;
    color: rgb(3, 97, 97);
    background-color: initial;
    border: none;
}
.city-btn{
    color: white;
    background-color: slategray;
    /* width: fit-content; */
}
#search-history{
    display: grid;
    row-gap: 0.65rem;
    column-gap: 0.5rem;
}

@media only screen and (max-width: 992px){

    #search-history{
        display: flex;

    }
}

@media only screen and (min-width: 768) and (max-width: 992px) {

    #search-form{
        display: inline;

    }
}
